<div id="banner" class="page-header">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1>{{pageHeader.title}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <p>{{multiLineText content}}</p>
  </div>
</div>