<div class="row page-header">
  <div class="col-lg-12">
    <h1>Starcups</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </p>
        <p>125 High Street, Reading, RG6 1PS</p>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Opening hours</h2>
          </div>
          <div class="panel-body">
            <p>Monday - Friday : 7:00am - 7:00pm</p>
            <p>Saturday : 8:00am - 5:00pm</p>
            <p>Sunday : closed</p>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Facilities</h2>
          </div>
          <div class="panel-body">
            <span class="label label-warning"><i class="fa fa-check"></i>&nbsp;Hot Drinks</span>&nbsp;
            <span class="label label-warning"><i class="fa fa-check"></i>&nbsp;Food</span>&nbsp;
            <span class="label label-warning"><i class="fa fa-check"></i>&nbsp;Premium wifi</span>&nbsp;
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 location-map">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Location map</h2>
          </div>
          <div class="panel-body">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.4055041,-0.9690884&amp;zoom=17&amp;size=400x350&amp;sensor=false&amp;markers=51.455041,-0.9690884&amp;scale=2" class="img-responsive img-rounded">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary review-panel">
          <div class="panel-heading">
            <h2 class="panel-title">Customer reviews</h2>
            <a href="/location/review/new" class="btn btn-default pull-right">Add review</a>
          </div>
          <div class="panel-body review-container">
            <div class="row">
              <div class="review">
                <div class="well well-sm review-header">
                  <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                  <span class="reviewAuthor">Simon Holmes</span>
                  <small class="reviewTimestamp">16 July 2013</small>
                </div>
                <div class="col-xs-12">
                  <p>What a great place.  I can't say enough good things about it.</p>
                </div>
              </div>
              <div class="review">
                <div class="well well-sm review-header">
                  <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                  <span class="reviewAuthor">Charlie Chaplin</span>
                  <small class="reviewTimestamp">16 July 2013</small>
                </div>
                <div class="col-xs-12">
                  <p>It was okay.  Coffee wasn't great, but the wifi was fast.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <p class="lead">Simon's cafe is on Loc9r because it has accessible wifi and space to sit down with your laptop and get some work done.</p>
    <p>If you've been and you like it - or if you don't - please leave a review to help other people just like you.</p>
  </div>
</div>
