<div id="banner" class="page-header">
  <div class="row">
    <div class="col-lg-6">
      <h1>{{pageHeader.title}} <small>{{pageHeader.subtitle}}</small></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="row list-group">
      {{#each locations}}
        <div class="col-xs-12 list-group-item">
          <h4>
            <a href="/location">{{name}}</a>
            <small>{{stars rating}} &ndash; {{rating}}</small>
            <span class="badge pull-right badge-default">{{distance}}</span>
          </h4>
          <p class="address">{{address}}</p>
          <p>
            {{#each facilities}}
              <span class="label label-warning">{{this}}</span>&nbsp;
            {{/each}}
          </p>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p class="lead">{{sidebar}}</p>
  </div>
</div>
