<div id="banner" class="page-header">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1>{{pageHeader.title}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <p><a href="/"><img src="/images/signin-twitter.png"></a></p>
    <p><a href="/"><img src="/images/signin-facebook.png"></a></p>
  </div>
</div>